snippet def "Function" b
def $1
	$2
end
endsnippet

snippet clog "Function"
	puts $1
endsnippet

snippet it "Test"
it "${1:should}" do

end
endsnippet

snippet desc "Test - Describe"
describe "${1:should}" do

end
endsnippet
