# Dependencies
node_modules

# Misc
*.zwc
.DS_Store
.android
hub
nvim/.netrwhist
tool_state
gh
github-copilot
configstore

# nvim
nvim/harpoon.json
nvim/lazy
nvim/mason
nvim/telescope_history

# Fish
fish/fish_history
fish/fish_variables
fish/generated_completions

