# A snippet for creating snippets. Very meta.
#
# **Jump sequence:**
#
# - `$1` - Snippet trigger
# - `$2` - Snippet description
# - `$3` - Snippet options
# - `$0` - Snippet content
snippet snip "A snippet for creating snippets"
snippet ${1:Trigger} "${2:Description}" ${3:Options}
${0}
`!v 'endsnippet'`
endsnippet
